@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-mono
    }

    input {
        display: flex;
        text-align: end;
        caret: underscore;
        caret-color: green;
    }

    input[type=radio] {
        @apply hidden
    }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* GENERAL LAYOUT */

.main {
    @apply bg-primary-cyan-2 h-screen grid place-items-center
}

.calculator {
    @apply mx-auto bg-white rounded-3xl md:max-w-3xl select-none
    shadow-xl
}

.calculator-center {
    @apply p-8 flex flex-col md:flex-row w-full gap-6
}

/* INPUT AREA */

.input-container {
    @apply md:flex-1 md:space-y-10 space-y-10
}

.input-title {
    @apply text-primary-cyan-4 mb-1
}

.input-title-group {
    @apply flex justify-between items-center
}

.input-group {
    @apply relative
}

.input-error {
    @apply text-sm text-red-500 invisible
}

.input-error.active {
    @apply visible
}


.input-control {
    @apply w-full bg-accent-gray rounded-lg p-2 outline-none text-2xl
    text-primary-cyan-6 border-2 border-white cursor-pointer duration-500
    focus:border-primary-cyan-5
}

.input-control.active {
    @apply border-red-500 text-red-800 duration-200 bg-red-200
    cursor-not-allowed
}

.tip-btn-container {
    @apply grid grid-cols-2 md:grid-cols-3 gap-3 md:gap-2
}

.tip-btn {
    @apply bg-primary-cyan-6 inline-block w-full p-2.5 md:p-1 rounded-lg
    text-white border-2 text-2xl md:text-xl text-center
    cursor-pointer  hover:bg-primary-cyan-4 hover:text-white
}

.tip-btn.active {
    @apply bg-primary-cyan-5 text-primary-cyan-6
}


.tip-btn-custom {
    @apply p-2.5 md:text-xl md:p-1 bg-accent-gray text-primary-cyan-6
    border-2 text-center text-2xl rounded-lg cursor-pointer
    focus:border-primary-cyan-5 outline-none duration-200
}

.tip-btn-custom.active {
    @apply text-primary-cyan-5 border-primary-cyan-5
}


.icon {
    @apply absolute top-5 left-5
}


/* OUTPUT AREA */

.output-container {
    @apply bg-primary-cyan-6 p-10 md:flex-1 rounded-2xl flex flex-col
    justify-between
}

.output-group {
    @apply flex justify-between items-center mb-4
}

.output-title {
    @apply text-white
}

.output-subtext {
    @apply text-sm text-primary-cyan-3
}

.output-amount {
    @apply text-3xl text-primary-cyan-5
}

.output-reset-btn {
    @apply bg-primary-cyan-5 text-center text-2xl text-primary-cyan-6
    rounded-lg hover:bg-primary-cyan-5-light hover:text-primary-cyan-6
    cursor-pointer duration-200 active:scale-95 p-1 tracking-widest
}




